:root {
  --background: var(--color1);
  --color: var(--gray7);

  --white: #ffffff;
  --black: #202020;
  --red: #ed4956;
  --green: #53b782;
  --blue: #3658b7;
  --gray0: #eeeeee;
  --gray1: #dddddd;
  --gray2: #cccccc;
  --gray3: #bbbbbb;
  --gray4: #aaaaaa;
  --gray5: #999999;
  --gray6: #888888;
  --gray7: #777777;
  --gray8: #666666;
  --gray9: #555555;
  --gray10: #444444;
  --gray11: #333333;
  --gray12: #222222;
  --color1: #f0f3fa; // background
  --color2: #bcbccc; // icon
  --color3: #bcbce8; // border
  --color4: #986efa; // button
  --color5: #e3ebff; // drop-enter-hover
  --color6: #f0eafe; // white-button-selected
  --color7: #f7f7f7; // white-button-hover
  --color8: #8551ff; // purple-button-hover
  --color9: #fefdff; // add-button-hover
  --color10: #b298ef; // add-button-icon-hover
  --attention-background: #fffdea;
  --attention-border: #eae286;
  --attention-icon: #dfc500;
}
