:root {
  --background: var(--color1);
  --color: var(--gray7);

  --white: #ffffff;
  --black: #202020;
  --red: #ed4956;
  --gray0: #eeeeee;
  --gray1: #dddddd;
  --gray2: #cccccc;
  --gray3: #bbbbbb;
  --gray4: #aaaaaa;
  --gray5: #999999;
  --gray6: #888888;
  --gray7: #777777;
  --gray8: #666666;
  --gray9: #555555;
  --gray10: #444444;
  --gray11: #333333;
  --gray12: #222222;
  --color1: #f0f3fa; // background
  --color2: #bcbccc; // icon
  --color3: #bcbce8; // border
  --color4: #986efa; // button
  --color5: #e3ebff; // hover
  --color6: #8759f142;
}
