:root {
  --background: var(--color1);
  --color: var(--gray7);

  --white: #ffffff;
  --black: #202020;
  --red: #ed4956;
  --green: #53b782;
  --blue: #4f6dc0;
  --gray0: #eeeeee;
  --gray1: #dddddd;
  --gray2: #cccccc;
  --gray3: #bbbbbb;
  --gray4: #aaaaaa;
  --gray5: #999999;
  --gray6: #888888;
  --gray7: #777777;
  --gray8: #666666;
  --gray9: #555555;
  --gray10: #444444;
  --gray11: #333333;
  --gray12: #222222;
  --color1: #f0f8f2; /* background */
  --color2: #bcccc3; /* icon */
  --color3: #ade2b7; /* border */
  --color4: #65bd71; /* button */
  --color5: #e7faef; /* drop-enter-hover */
  --color6: #eafef1; /* white-button-selected */
  --color7: #f7f7f7; /* white-button-hover */
  --color8: #3da54b; /* purple-button-hover */
  --color9: #fdfffd; /* add-button-hover */
  --color10: #9bef98; /* add-button-icon-hover */
  --attention-background: #fffdea;
  --attention-border: #eae286;
  --attention-icon: #dfc500;
}
